
        body {
            width: 800px;
        }

        .header {
            background-color: #FF3;
            border-bottom: 2px solid #F90;
            text-align: center;
            padding: 10px;
        }

        .cha {
            font-family: Arial, sans-serif;
            font-size: 15px;
            text-align: justify;
        }

        .cha img {
            float: left;
            margin: 10px 15px 10px 0;
        }
   